<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyfly.milet.rewrite.dao.CustomIdentityMapper">
    <select id="selectSysRoleByUserId" resultType="com.hyfly.milet.rewrite.pojo.dto.SysRole">
        select sr.id,
               sr.role_name,
               sr.role_code,
               sr.description,
               sr.create_by,
               sr.create_time,
               sr.update_by,
               sr.update_time
        from sys_user_role sur
                 left join sys_role sr on sur.role_id = sr.id
        where sur.user_id = #{userId}
    </select>

    <select id="selectSysUserByUserQuery" resultType="com.hyfly.milet.rewrite.pojo.dto.SysUser"
            parameterType="org.flowable.idm.engine.impl.UserQueryImpl">
        select distinct su.id,
                        su.username,
                        su.realname,
                        su.salt,
                        su.avatar,
                        su.birthday,
                        su.sex,
                        su.email,
                        su.phone,
                        su.org_code,
                        su.activiti_sync,
                        su.work_no,
                        su.post,
                        su.telephone,
                        su.user_identity,
                        su.depart_ids,
                        su.rel_tenant_ids
        from sys_user su
                 left join sys_user_role sur on su.id = sur.user_id
        <where>
            <if test="id != null and id != ''">
                and su.id = #{id}
            </if>
            <if test="displayName != null and displayName != ''">
                and su.realname like concat('%', #{displayName}, '%')
            </if>
            <if test="groupId != null and groupId != ''">
                and sur.role_id = #{groupId}
            </if>
        </where>
    </select>

    <select id="selectSysRoleByGroupQuery" resultType="com.hyfly.milet.rewrite.pojo.dto.SysRole"
            parameterType="org.flowable.idm.engine.impl.GroupQueryImpl">
        select distinct sr.id,
                        sr.role_name,
                        sr.role_code,
                        sr.description,
                        sr.create_by,
                        sr.create_time,
                        sr.update_by,
                        sr.update_time
        from sys_role sr
                 left join sys_user_role sur on sur.role_id = sr.id
        <where>
            <if test="id != null and id != ''">
                and sr.id = #{id}
            </if>
            <if test="name != null and name != ''">
                and sr.role_name like concat('%', #{name}, '%')
            </if>
            <if test="userId != null and userId != ''">
                and sur.user_id = #{userId}
            </if>
        </where>
    </select>
</mapper>